@font-face {
    font-family: "Gilroy-Bold";
    src: url('fonts/Gilroy-Bold.ttf');
    src: url('fonts/Gilroy-Bold.ttf') format('ttf');
}
@font-face {
    font-family: "Gilroy-Extra-Bold";
    src: url('fonts/Gilroy-ExtraBold.ttf');
    src: url('fonts/Gilroy-ExtraBold.ttf') format('ttf');
}
@font-face {
    font-family: "Gilroy-Medium";
    src: url('fonts/Gilroy-Medium.ttf');
    src: url('fonts/Gilroy-Medium.ttf') format('ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 100vh;
    /* background: #000; */
}
.header{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;
    font-family: "Gilroy-Medium";
    /* background: #803a3a; */
}
.part1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.part1 h2{
    font-size: 16px;
    font-weight: 500;
    border: 1.5px solid black;
    border-radius: 30px;
    padding: 8px 8px;
}
.part1 i{
    font-size: 16px;
    font-weight: 500;
    border: 1.5px solid black;
    border-radius: 30px;
    padding: 8px 8px;
}
.part2 h2{
    font-size: 20px;
    font-weight: 600;
    font-family: "Gilroy-Bold";
    text-transform: uppercase;
}
.part3 button{
    padding: 8px 10px;
    font-size: 18px;
    font-weight: 500;
    border: 1.5px solid black;
    border-radius: 30px;
    background: transparent;
}
.part3 .Signup{
    border: none;
    outline: none;
    background: #EA5533;
    color: #fff;
    margin-left: -4px;
}
.main-body{
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.main h1{
   position: absolute;
   top: 50%;
   left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    font-size: 150px;
    font-family: "Gilroy-Medium";
    font-weight: 400;
    text-transform: uppercase;
}
img{
    height: 400px;
    width: 300px;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}
#img1{
    transform: translate(-50%, -50%) rotate(-30deg);
}
#img3{
    transform: translate(-50%, -50%) rotate(-20deg);
}
#img4{
    transform: translate(-50%, -50%) rotate(-10deg);
}
.other{
    position: absolute;
    bottom: 20px;
    left: 35px;

}
.other h3{
    font-size: 14px;
    font-weight: 200;
    font-family: 'Gilroy-medium';
}
.icon-bg{
    font-size: 25px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: #8b3131; */
    padding: 20px 40px -30px 40px;
    border: 1px solid black;
    border-radius: 50px;
}
.social-media{
    position: absolute;
    bottom: 20px;
    right: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.social-media .icon{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.icon i{
    margin: 0 5px;
}
.social-media h2{
    font-size: 10px;
    font-weight: 200;
    font-family: 'Gilroy-medium';
}
